{% extends "base.html" %}

{% block content %}
    <ul class="clean-list">
        {% for article in articles %}
            
            <li class="article-row">
                <a href="/article/{{ article.id }}">
                    <strong>{{ article.title }}</strong>
                </a>
                
                {% if is_admin %}
                    <div style="display: flex; gap: 15px;">
                        <a href="/edit/{{ article.id }}" class="secondary-action">Edit</a>
                        
                        <form action="/delete/{{ article.id }}" method="POST" style="margin: 0;">
                            <button type="submit" class="secondary-action">Delete</button>
                        </form>
                    </div>
                {% else %}
                    <span style="color: gray;">{{ article.date }}</span>
                {% endif %}
            </li>
            
        {% else %}
            <p>No articles found.</p>
        {% endfor %}
    </ul>
{% endblock %}